In [5]:
import pandas as pd
import geopandas as geo
import folium

#Lendo o arquivo CSV
#Contendo  a distribuiÃ§Ã£o global de vulcÃµes em 2010
df = pd.read_csv("volcano_data_2010.csv")
df

,Year,Month,Day,TSU,EQ,Name,Location,Country,Latitude,Longitude,...,TOTAL_DEATHS,TOTAL_DEATHS_DESCRIPTION,TOTAL_MISSING,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION
0,2010,1,NaN,NaN,NaN,Tungurahua,Ecuador,Ecuador,-1.467,-78.442,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2010,3,31.0,NaN,NaN,Eyjafjallajokull,Iceland-S,Iceland,63.630,-19.620,...,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,5,27.0,NaN,NaN,Pacaya,Guatemala,Guatemala,14.381,-90.601,...,1.0,1.0,3.0,1.0,NaN,NaN,NaN,1.0,3.0,1.0
3,2010,5,29.0,TSU,EQ,Sarigan,Mariana Is-C Pacific,United States,16.708,145.780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,8,6.0,NaN,NaN,Karangetang [Api Siau],Sangihe Is-Indonesia,Indonesia,2.780,125.480,...,4.0,1.0,NaN,NaN,5.0,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2018,2,1.0,NaN,NaN,Kilauea,Hawaiian Is,United States,19.425,-155.292,...,1.0,1.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN
59,2018,2,9.0,TSU,NaN,Kadovar,New Guinea-NE of,Papua New Guinea,-3.620,144.620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2018,3,21.0,NaN,NaN,Ijen,Java,Indonesia,-8.058,114.242,...,NaN,NaN,NaN,NaN,30.0,1.0,NaN,NaN,NaN,NaN
61,2018,4,28.0,NaN,NaN,Kilauea,Hawaiian Is,United States,19.425,-155.292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,1.0
62,2018,4,NaN,NaN,NaN,Aoba,Vanuatu-SW Pacific,Vanuatu,-15.400,167.830,...,4.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0

In [ ]:
#Aqui a gente filtra os dados que a gente quer
df = df[["Year", "Name", "Country", "Latitude", "Longitude", "Type"]]
df

,Year,Name,Country,Latitude,Longitude,Type
0,2010,Tungurahua,Ecuador,-1.467,-78.442,Stratovolcano
1,2010,Eyjafjallajokull,Iceland,63.630,-19.620,Stratovolcano
2,2010,Pacaya,Guatemala,14.381,-90.601,Complex volcano
3,2010,Sarigan,United States,16.708,145.780,Stratovolcano
4,2010,Karangetang [Api Siau],Indonesia,2.780,125.480,Stratovolcano
...,...,...,...,...,...,...
58,2018,Kilauea,United States,19.425,-155.292,Shield volcano
59,2018,Kadovar,Papua New Guinea,-3.620,144.620,Stratovolcano
60,2018,Ijen,Indonesia,-8.058,114.242,Stratovolcano
61,2018,Kilauea,United States,19.425,-155.292,Shield volcano
62,2018,Aoba,Vanuatu,-15.400,167.830,Shield volcano

In [ ]:
#Temos que unir as variÃ¡veis de longitude e latitude para que ela se torne um geomtre um geodataframe, no final ela vai virar 
#uma variÃ¡vel chamada geometry e aparece como coluna nova
geometrias = geo.points_from_xy(df["Longitude"], df["Latitude"])
geo_df = geo.GeoDataFrame(df, geometry=geometrias)
geo_df

,Year,Name,Country,Latitude,Longitude,Type,geometry
0,2010,Tungurahua,Ecuador,-1.467,-78.442,Stratovolcano,POINT (-78.442 -1.467)
1,2010,Eyjafjallajokull,Iceland,63.630,-19.620,Stratovolcano,POINT (-19.62 63.63)
2,2010,Pacaya,Guatemala,14.381,-90.601,Complex volcano,POINT (-90.601 14.381)
3,2010,Sarigan,United States,16.708,145.780,Stratovolcano,POINT (145.78 16.708)
4,2010,Karangetang [Api Siau],Indonesia,2.780,125.480,Stratovolcano,POINT (125.48 2.78)
...,...,...,...,...,...,...,...
58,2018,Kilauea,United States,19.425,-155.292,Shield volcano,POINT (-155.292 19.425)
59,2018,Kadovar,Papua New Guinea,-3.620,144.620,Stratovolcano,POINT (144.62 -3.62)
60,2018,Ijen,Indonesia,-8.058,114.242,Stratovolcano,POINT (114.242 -8.058)
61,2018,Kilauea,United States,19.425,-155.292,Shield volcano,POINT (-155.292 19.425)
62,2018,Aoba,Vanuatu,-15.400,167.830,Shield volcano,POINT (167.83 -15.4)

In [ ]:
# Vamos ter que pegar os points em uma lista
# for point in geo_df["geometry"]:
#     latitude = point.xy[1][0]
#     longitude = point.xy[0][0]
#     a longitude Ã© o primeiro e depois a latitude, por isso colocamos 0 e 0 na lomgitude 
#     print(longitude, latitude)
#     coordenadas = [latitude, longitude]
#     coordenadas

#Essa era a forma com um for padrÃ£o, agora vamos ter outra forma

-78.442 -1.467
-19.62 63.63
-90.601 14.381
145.78 16.708
125.48 2.78
98.392 3.17
110.442 -7.542
-78.442 -1.467
112.95 -7.942
110.442 -7.542
130.87 31.93
124.05 12.77
125.48 2.78
-78.442 -1.467
-72.117 -40.59
41.7 13.37
-19.05 63.63
124.792 1.358
127.325 0.8
-155.292 19.425
-155.292 19.425
160.33 55.83
110.442 -7.542
121.708 -8.32
123.685 13.257
121.708 -8.32
-70.903 -16.355
130.67 31.58
98.392 3.17
176.5 -38.12
98.392 3.17
112.308 -7.93
137.48 35.9
-155.292 19.425
-24.35 14.95
127.325 0.8
98.392 3.17
-72.614 -41.326
125.48 2.78
145.061 -4.1
98.392 3.17
176.5 -38.12
98.392 3.17
98.392 3.17
-110.67 44.43
116.47 -8.42
131.1 32.88
15.004 37.734
98.392 3.17
-90.88 14.473
109.92 -7.2
14.139 40.827
167.83 -15.4
110.442 -7.542
98.392 3.17
144.62 -3.62
123.685 13.257
138.55 36.62
-155.292 19.425
144.62 -3.62
114.242 -8.058
-155.292 19.425
167.83 -15.4

In [ ]:
import folium.plugins


mapa = folium.Map(location=[15, 30], tiles="Cartodb dark_matter", zoom_start=2)
# Isso serve para que possamos fazer um mapa e com isso definimos uma localizaÃ§Ã£o aleatÃ³ria e em tiles Ã© o tema do grÃ¡fico
#e o zoom Ã© para definir o zoom inicial, ou seja vamos ter uma visÃ£o mais ampla.
mapa

heatmap_dados = [[point.xy[1][0], point[0][0]] for point in geo_df["geometry"]]
#Essa Ã© uma forma de criar umalista sem precisar do for que nem o exemplo lÃ¡ de cima

#vamos criar um heatmap para visualizar  a densidade de vulcÃµes
folium.plugins.HeatMap(heatmap_dados).add_to(mapa)
#aqui chamamos a bibliotaca folium, depois o mÃ³dulo plugins e ai passamos o mapa de calor e adicioamos o parÃ¢metro heatmap_dados
#depois adicionamos tudo no mapa com add_to(mapa)
mapa